<?xml version="1.0" encoding="UTF-8"?> 
<config>
  <workspacePath>synopsx/workspace/</workspacePath>
  <projects>
  <project default="true"> 
      <resourceName>synopsx</resourceName>
      <dbName>synopsx</dbName>
  </project>      
  <project> 
      <resourceName>example</resourceName>
      <dbName>example</dbName>
  </project>      
  </projects>
</config>
